<!DOCTYPE html>
<head>
    <title>BleacherReport MongoScraper</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous'></script>
    <script src='/assets/js/home.js'></script>
</head>
<html>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <h1>BleacherReport MongoScraper</h1>
                </div>
                <div class="navbar-header navbar-right">
                    <ul style="display: inline">
                        <li class="btn btn-default"><a href="/">Home</a></li>
                        <li class="btn btn-default"><a href="/savedArticles"></a> Saved Articles</li>
                        <li class="btn btn-default" id="scrapeNewArticles">Scrape New Articles!</li>
                    </ul>
                </div>
            </div>
        </nav>
        {{{ body }}}
    </body>
</html>