<nav class="navbar navbar-default" style="margin: 0;">
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <h1>BleacherReport MongoScraper</h1>
        </div>
        <div class="navbar-header navbar-right">
            <ul style="display: inline;">
                <li class="btn btn-default"><a href="/">Home</a></li>
                <li class="btn btn-default">
                    <a href="/savedArticles">Saved Articles</a>
                </li>
                <li class="btn btn-default" id="scrapeNewArticles">Scrape New Articles!
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" style="text-align: center;">
    <h1>MongoScraper</h1>
    <h3>Bleacher Report</h3>
</div>
<div class="container">
    <div id="articleContainer">

    </div>
</div>

<script src='/assets/js/home.js'></script>