<div class="jumbotron" style="text-align: center;">
    <h1>Saved Articles</h1>
    <h3>Your Saved Articles</h3>
</div>
<div class="container">
    <div id="articleContainer">
        {{#each article}}
        <div class="articleTitle panel panel-default" id={{this._id}}>
            <div class="panel-body">
                <a href={{this.link}} target="_blank">
                    <h2>{{this.title}}</h2>
                </a>
                <div class="btn btn-info add-note">Add a note</div>
                <div class="btn btn-danger delete-article">Delete this article</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div id="notesModal" class="modal fade" role="dialog" style="text-align: center;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><strong>Notes For Article: <span id="articleID"></span></strong></h2>
            </div>
            <div class="modal-body">
                <div id="article-note-container">

                </div>
                <form>
                    <input type="text" placeholder="New Note" style="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="save-note-btn" data-dismiss="modal">SAVE NOTE</button>
            </div>
        </div>

    </div>
</div>